<footer class="site-footer">

<div class="container" style="font-size: 12px; text-align: center;padding: 15px 0;">

    <div class="footer-col-3 column">
    This site was created and run by <a href="https://taskforce.is">Taskforce</a>, and operates under the Taskforce's <a href="/privacy">privacy policy</a>
    </div>


  </div>

</footer>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.taskforce.is/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "5"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
